<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- Extensions -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Database"/>
		<add assembly="Npgsql" />
	</extensions>

	<!-- Targets -->
	<targets>
		<target xsi:type="ColoredConsole" name="consoleTarget" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=Message}" />

		<target name="database" xsi:type="Database"
				 dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				 connectionString="${environment:DB_CONNECTION_STRING}">
			<commandText>
				INSERT INTO Logs(CreatedOn, Message, Level, Exception, StackTrace, Logger, Url, IpAddress, UserId, Method)
				VALUES (CURRENT_TIMESTAMP, @msg, @level, @exception, @trace, @logger, @url, @ipAddress, @userId, @method);
			</commandText>

			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${event-properties:item=level}" />
			<parameter name="@exception" layout="${exception:format=toString}" />
			<parameter name="@trace" layout="${stacktrace}" />								
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${event-properties:item=url}" />
			<parameter name="@ipAddress" layout="${event-properties:item=ipAddress}" />
			<parameter name="@userId" layout="${event-properties:item=userId}" />
			<parameter name="@method" layout="${event-properties:item=method}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>
